body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400px;font-size: 16px;color: white; background-color: #5B5A5A;

}
.mytable {
  background-color:gray;
  padding: 5px 20px 5px 20px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}
.mytable td {
  padding-left: 10px;
}
table tr td a {
  text-decoration: none;
  color:white;
}

.mylinks a {
  color: #FFF;
  text-decoration: none;
}

.mylinks a:hover {
  color: #71eeb8;
}

.globallinks {
  padding: 20px;
}
#headerimg {
  width:100%;
  height:auto;
  border: 1px solid gray;
  border-radius: 2px;

#twitter {
  display: inline-block;
}

#facebook {
  display: inline-block;
}

#linkedin {
  display: inline-block;
}

}
#profile {
  padding: 1px 1px 1px 1px;
  border-radius: 2px;
  position: relative;
  margin:-200px 0px 0px 50px;
  display: inline-block;
}
.profile-img {
  border:1px solid #fff;
  width:250px;
  height:220px;
}
.social {
  text-align: center;
}
.social tr {
  width:100%;
}
.social td {
  padding:10px;
  width:33%;
}

.bloglinks {
  color: white;
  font-size: 18px;
  font-decoration: none;
  display: block;
  padding-left: 25px;
  padding-top: 15px;
}

#mybodydiv {
  height:auto;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #308014;
  float: left;
}
